# Node
node_modules

# Next.js
.next
out

# Production
build

# Typescript
next-env.d.ts

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn-integrity

# ESlint
.eslintcache
